<div class="content-container">
    
        <div class="main-container main-page-bg text-center">
            <div class="large-title col-md-8 col-md-offset-2">
                <h1>Everybody Votes</h1>
                <h4>A fun and engaging way to cast your votes on wordly topics</h4>
            </div>  
        </div>
    
    
        <div class="main-page-info">
            <div class="info col-md-4 col-md-offset-1">
                <span class="fa fa-bar-chart"></span>
                <p>Create an account to share new polls to share with the world.</p>
            </div>

            <div class="info col-md-5 col-md-offset-1">
                <span class="fa fa-globe"></span>
                <p>Gain access to the today's most engaging polls and cast your vote.</p>
            </div>
        </div> 
    
    
</div>

