.container-fluid{
    padding: 0;
}
.navbar{
    border-radius: 0;
}
/* MAIN PAGE */
.main-header{
    width: 100%;
}


.form-container{
    width:400px;
    margin:0 auto;
}
.form-container .btn{
    margin-top: 20px;
}
.logout-btn{
    margin-top:9px;
}
.form-header{
    margin-bottom: 20px;
}
.poll-container{
    width:400px;
    margin:0 auto;
}
.poll{
    background: #e5e3e3;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 8px;
    margin-bottom: 20px;
    position: relative;
}
.poll .delete{
    position: absolute;
    right: 0;
    top: -.3px;
}