.container-fluid{
    padding: 0;
}
.container{
    padding: 0;
    margin: 0;
    width: 100%;
}
.sm-top-margin{
    margin-top: 15px !important;
}
.navbar{
    border-radius: 0;
}
.content-container{
    padding-top: 90px;
}
.large-title{
    padding-top: 140px;
    color: #000000;
}
.large-title h1{
    font-weight: bold;
    font-size: 4em;
}
/* MAIN PAGE */

.main-container.main-page-bg{
    height: 500px;
    width: 100%;
    margin-top: -40px;
    background: url('../img/fun_pattern.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}
.main-page-info{
   /* padding: 150px 0px 150px 0px; */
     padding-top: 250px;
     padding-bottom: 250px;
}
.info{
    text-align: center;
}
.info > span{
    font-size: 6em;
    margin-bottom: 20px;
}

.form-container{
    width:400px;
    margin:0 auto;
}
.form-container .btn{
    margin-top: 20px;
}
.logout-btn{
    margin-top:9px;
}
.form-header{
    margin-bottom: 20px;
}
.poll-container{
    width:400px;
    margin:0 auto;
}
.poll-container.mod-floated{
    margin: 0;
    float:left;
}
.poll{
    background: #e5e3e3;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 8px;
    margin-bottom: 20px;
    position: relative;
}
.poll .delete{
    position: absolute;
    right: 0;
    top: -.3px;
}

/* ANIMATIONS
====================== */
.spinner {
padding-top:-50px !important;
font-size: 2em;
animation:spin 1s infinite;
-webkit-animation:spin 1s infinite;
-moz-animation:spin 1s infinite;
}
@keyframes spin {
from { transform:rotate(0deg); }
to
{ transform:rotate(360deg); }
}
@-webkit-keyframes spin {
from { -webkit-transform:rotate(0deg); }
to
{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
from { -moz-transform:rotate(0deg); }
to
{ -moz-transform:rotate(360deg); }
}

.spinner.md-offset-lg{
    position: absolute;
    top: 120px;
    left: 300px;
}

/*footer*/
.footer{
    color: #969696;
    background-color: #0F0F0F;
    padding-top:50px;
    padding-bottom: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

