.container-fluid{
    padding: 0;
}
.sm-top-margin{
    margin-top: 15px !important;
}
.navbar{
    border-radius: 0;
}
/* MAIN PAGE */
.main-header{
    width: 100%;
}


.form-container{
    width:400px;
    margin:0 auto;
}
.form-container .btn{
    margin-top: 20px;
}
.logout-btn{
    margin-top:9px;
}
.form-header{
    margin-bottom: 20px;
}
.poll-container{
    width:400px;
    margin:0 auto;
}
.poll-container.mod-floated{
    margin: 0;
    float:left;
}
.poll{
    background: #e5e3e3;
    border-radius: 2px;
    border: 1px solid gray;
    padding: 8px;
    margin-bottom: 20px;
    position: relative;
}
.poll .delete{
    position: absolute;
    right: 0;
    top: -.3px;
}

/* ANIMATIONS
====================== */
.spinner {
padding-top:-50px !important;
font-size: 2em;
animation:spin 1s infinite;
-webkit-animation:spin 1s infinite;
-moz-animation:spin 1s infinite;
}
@keyframes spin {
from { transform:rotate(0deg); }
to
{ transform:rotate(360deg); }
}
@-webkit-keyframes spin {
from { -webkit-transform:rotate(0deg); }
to
{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spin {
from { -moz-transform:rotate(0deg); }
to
{ -moz-transform:rotate(360deg); }
}

